*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
body{
    width: 100vw;
    height: 100vh;
}
.top{
    background-color: rgb(42, 112, 243);
    display:inline-block;
    width:100vw;
    height: 50px;
    padding-bottom: 15px;
    position:sticky;
    top: 0;
    z-index: 5;
}
.logo{
    width: 75px;
    height: 35px;
    margin-left: 150px;
    position: absolute;
    top: 7.5px;
}
input{
    position: absolute;
    top: 7.5px;
    left: 232px;
    width: 450px;
    height: 35px;
    border-radius: 2px;
    border-color: transparent;
}
.login{
    color:rgb(42, 112, 243) ;
    background-color: white;
    height: 28px;
    width: 90px;
    position: absolute;
    top: 10.5px;
    left: 750px;
    border-color: transparent;
    border-radius: 2px;
}
.one{
    color: white;
    position: absolute;
    top: 14.5px;
    left: 900px;
}
.cart{
    height: 28px;
    position: absolute;
    top: 11px;
    left: 980px;
    margin: 0;
    width: auto;
}
.two{
    color: white;
    position: absolute;
    top: 14.5px;
    left: 1010px;
    margin-right: 0px;
}
img{
    width: 70px;
    margin-right: 57px;
    margin-left:12px; 
}
.toy{
    margin-right: 0px;
}
.des{
    position: absolute;
    left: 20px;
    top: 120px;
    display: inline-block;
}
span{
    text-align: center;
    margin-right: 65px;
    margin-left:1px;
    font-size: 16px; 
    padding-left: 2px;
}
.cat0{
font-size: 12px;
margin-right: 85px;
}
.cat1{
    margin-right: 100px;
    font-size: 12px;
}
.cat2{
    margin-right: 95px;
    font-size: 12px;
}
.cat3{
    margin-right: 92px;
    font-size: 12px;
}
.cat4{
    margin-right: 95px;
    font-size: 12px;
}
.cat5{
    margin-right: 93px;
    font-size: 12px;
}
.cat6{
    margin-right: 90px;
    font-size: 12px;
}
.cat7{
    margin-right: 80px;
    font-size: 12px;
}
.cat8{
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 12px;
}
#boat{
    width: 99vw;
    padding-left: 0px;
    margin-right: 0px;
    margin-top: 18px;
    padding-right: 5px;
   
}
 .ad{
    width:100vw;
    background-color: rgb(233, 233, 233);
    margin-top: 20px;
    padding-bottom: 5px;
    padding-right: 5px;
}
.A{
    width: 80VW;
    padding-bottom: 2px;
    padding-top: 0px;
    background-color: rgb(233, 233, 233);
    padding-right: 10px;
    display: inline-block;
    margin-right: 0%;
}
.A1{
    MARGIN-left: 10PX;
    background-color: white;
}
.deals{
    display: inline-block;
    padding: 15px 700px 15px 10px;
    font-size: 25px;
    font-weight: 400;
}
.view{
    width: 80px;
    height: 30px;
    color: white;
    background-color:rgb(42, 112, 243);
    border-color: transparent;
    padding-top: 5px;
}
.sales{
    width: 20vw;
}

.sales1{
    width: 18.9vw;
    margin: 0;
    display:inline-block;
    position: absolute;
    left:1020px;
    background-color: aqua;
    top: 453px;
}
.products{
    width: 80vw;
    height: 310px;
   padding-right: 10px;
  background-color: rgb(233, 233, 233);
  padding-left: 10px;
  
}
.pro1{
    background-color: white;
    height: 312px;

}
.pro{
    width: 13.5vw;
    padding-left: 15px;
    margin-right: 60px;
   
}  
.off{
    width: 100vw;
    background-color:  rgb(233, 233, 233);
}
.special{
    width: 31vw;
    margin: 5px 5px 0px 10px;
}
table{
    width: 100vw;
    padding-top: 20px;
   font-size: smaller;
    background-color: rgb(25, 25, 80);
}
.tb1{
     padding-bottom: 100px;
}
th{
    text-align: left;
    padding-left: 25px;
    color: rgb(141, 147, 167);
}
td{
    width: 70vw;
    padding-top: 8px;
    padding-left: 25px;
    text-align:left;
    color: white;
}
.tb2{
   width: 30vw;
    padding-top: 8px;
    padding-left: 25px;
    text-align:left;
   position: absolute;
   right:30px;
   top: 1060px;
}
@media screen and (max-width:768px){
 .top{
     width: 100vw;
     height: 90px;
 }
 .logo{
position: absolute;
left: 5px;
margin: 0;

 }

 .cat8{
     position: absolute;
     left: 0;
 }
 .login{
     position: absolute;
     left: 75vw;
     color: white;
     background-color:rgb(42, 112, 243) ;
 }
 .cart{
     position: absolute;
     left: 70vw;
 }
 .cat0{
     margin-left: 2px;
     font-size: 7px;
     margin-right: 1px;
 }
 .des{
     position: absolute;
     left: 2px;
 }
 .cat1{
     margin-right: 8px;
     font-size: 7px;
 }
 .cat2{
     margin-right:10px;
     font-size: 7px;
 }
 .cat3{
     margin-right: 2px;
     font-size: 7px;
 }
 .cat4{
     margin-right:10px;
     font-size: 7px;
 }
 .cat5{
     margin-right:6px;
     font-size: 7px;
 }
 .cat6{
     margin-right:5px;
     font-size: 7px;
 }
 .cat7{
     margin: 0;
     font-size: 7px;
 }
 .cat8{
     font-size: 7px;
     position: absolute;
     left:310px;
     top: 8px;
 }
 .ad{
     margin-top:12px;
     padding: 0;
     margin-bottom: 0;
     height: 130px;
 }
 #boat{
     width: 97vw;
     margin: 5px 5px 5px 5px ;
     object-fit: cover;
     padding: 0;
     height: 120px;
 }
 .sales{
     width: 25vw;
     background-color: aqua;
 }
 
 .sales1{
     position: absolute;
     left: 75vw;
     width: 24vw;
     top: 43vh;
    
 }
 input{
     position: absolute;
     left: 2px;
     top: 50px;
     width: 99vw;
 }
 .A1{
     margin-left: 5px;
     width: 75vw;
     padding: 0;
     padding-bottom: 4px;
 }
 .deals{
     padding: 0;
     font-size: 10px;
     margin: 0px 125px 0px 2px;
 }
 .view{
     width: 45px;
     height: 16px;
     font-size: 6px;
     padding: 0;
 }
 .A{
     padding-bottom:2px;
     width: 75vw;
 }
 .one{
     position: absolute;
     left: 0;
     color:rgb(42, 112, 243)  ;
     z-index: -1;
 }
 img{
     margin:0px ;
     width: 35px;
     
 }
 .two{
     position: absolute;
     left: 0;
     color:rgb(42, 112, 243)  ;
     z-index: -1;
 }
 .pro1{
     padding: 0;
     margin-left:5px;
     position: absolute;
     left: 0;
     width: 74vw;
     margin-right: 0;
     height: 115px;
 }
 .pro{
     margin: 0;
     width: 17vw;
 }
 .off{
     width: 100vw;
     padding-left: 5px;
 }
 .special{
     width: 32vw;
     margin:0px;
     margin-top: 5px;
 }
 .tb2{
     position: absolute;
     left: 45vw;
     font-size: 5px;
     top: 485.8px;
     padding-right: 4.5px;
     padding-bottom: 20px;
     padding-top:0;
 }
 .tb1{
     position: absolute;
     left: 0;
     width: 50vw;
     padding-bottom: 0;
     font-size: 5px;
     padding: 0;
 }
 .products{
     margin-right: 0;
     padding: 0;
     width: 70vw;
     height: 115px;
 }
 
}
     